{% extends "base.html" %}

{% block title %}About Ourselves{% endblock %}

{% block content %}
    <div class="container mt-5">
        
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="text-center mt-3">About Us</h2>
                <p class="text-justify">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, aperiam dolore! Facilis corporis sed minima repudiandae enim suscipit illo sunt obcaecati aperiam eveniet, porro cumque amet dolor harum velit non. Quas fugit quisquam deserunt dolores, minus similique modi nam. Odio.
                </p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h2 class="text-center mt-3">Our Vision</h2>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eaque vitae nemo odit perferendis? Assumenda repudiandae aspernatur cupiditate neque autem ipsa quas aliquam, pariatur et vitae nisi, molestias quisquam laudantium, temporibus unde eius recusandae dicta? Fuga, cumque! Maiores, reprehenderit voluptatum.
                </p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h2 class="text-center mt-3">Our Impact</h2>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, distinctio mollitia! Assumenda nobis porro voluptatibus dolor? Inventore minima animi molestiae! Omnis corporis corrupti suscipit, quaerat cumque ipsam quod quibusdam. Id sit temporibus incidunt optio magnam, eaque odit placeat veritatis dignissimos!
                </p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h2 class="text-center mt-3">Our Partners</h2>
                <p class="text-justify">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis ipsam nobis error nostrum nulla illo accusamus excepturi quisquam nesciunt, dignissimos fugit repellendus minus consectetur, porro molestiae iste facere aperiam itaque, beatae corrupti ut? Nostrum tempora itaque, enim culpa iure suscipit!
                </p>
            </div>
        </div>

    </div>
{% endblock %}
